body
{
	padding: 0;
	margin:0;
	background: white;
}


.stage1 {
	/*width: 1000px;/* height: 2000px; */
	margin: 30px auto;
	background: white;
	position: relative;
}

.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
	clip-path: inset(" + (window.scrollY + 200) + "px 0 " + (document.body.clientHeight - window.scrollY - window.innerHeight + 200) + "px 0);
	background-color: white;

	/* height: 1000px; */
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
}

.ParallaxContainer {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  height: 800px;
  z-index: -1;
  perspective: 100px;
}

.center {
	margin: 0 auto;
	width:1000px;
	position:relative;
}

.ContentContainer {
	width: 100vw;
	height: 2500px;
  position: relative;
  background-color: white;
  z-index: 1;
}

.Content {
	margin: 0 auto;
	width:1000px;
	position:relative;
	transform: scale(1.5);
	margin: -120px;
}

#MEGAm-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 270px;
	left: 334px;
	position: absolute;
}
#MEGAm-stem-l {
	width: 10px;
	height: 32px;
	background: white;
	top: 340px;
	left: 353px;
	position: absolute;
}

#MEGAm-stem-r {
	width: 10px;
	height: 32px;
	background: white;
	top: 340px;
	left: 381px;
	position: absolute;
}

#MEGAe-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 270px;
	left: 420px;
	position: absolute;
}

#MEGAe-stem-t {
	width: 10px;
	height: 27px;
	background: white;
	top: 289px;
	left: 478px;
	transform: rotate(90deg);
	position: absolute;
}

#MEGAe-stem-b {
	width: 10px;
	height: 27px;
	background: white;
	top: 324px;
	left: 478px;
	transform: rotate(90deg);
	position: absolute;
}

#MEGAg-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 270px;
	left: 505px;
	position: absolute;
}

#MEGAg-stem-t {
	width: 10px;
	height: 30px;
	background: white;
	top: 290px;
	left: 538px;
	position: absolute;
}

#MEGAg-stem-r {
	width: 10px;
	height: 65px;
	background: white;
	top: 289px;
	left: 544px;
	transform: rotate(90deg);
	clip-path: polygon(0% 0%, 100% 0%, 100% 55px, 0% 100%);
	position: absolute;
}

#MEGAg-stem-slant {
	width: 10px;
	height: 44px;
	background: white;
	top: 307px;
	left: 531px;
	transform: rotate(-45deg);
	clip-path: polygon(0% 0%, 100% 10px, 100% 34px, 0% 100%);
	position: absolute;
}

#MEGAg-stem-b {
	width: 10px;
	height: 20px;
	background: white;
	top: 334px;
	left: 538px;
	position: absolute;
}

#MEGAa-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 270px;
	left: 590px;
	position: absolute;
}

#MEGAa-stem-b {
	width: 10px;
	height: 27px;
	background: white;
	top: 345px;
	left: 622px;
	position: absolute;
}

#MEGAa-stem-c {
	width: 10px;
	height: 25px;
	background: white;
	top: 300px;
	left: 622px;
	transform: rotate(-45deg);
	position: absolute;
}





.stage2 {
	width: 100vw;
	height: 800px;
	margin: 100px auto;
	background: white;
	position: relative;
}

:active{
background-color:black;
Â Â filter: invert(100%);

}

#A-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 50px;
	left: 37px;
	position: absolute;
}

#A-stem-b {
	width: 10px;
	height: 27px;
	background: white;
	top: 125px;
	left: 69.5px;
	position: absolute;
}

#A-stem-c {
	width: 10px;
	height: 25px;
	background: white;
	top: 80px;
	left: 69px;
	transform: rotate(-45deg);
	position: absolute;
}

#A-border-t {
	width: 520px;
	height: 10px;
	background: white;
	top: 40px;
	left: 27px;
	position: absolute;
}

#A-border-l {
	width: 10px;
	height: 120px;
	background: white;
	top: 40px;
	left: 27px;
	position: absolute;
}

#A-border-r {
	width: 10px;
	height: 230px;
	background: white;
	top: 40px;
	left: 112px;
	position: absolute;
}

#A-border-b {
	width: 605px;
	height: 10px;
	background: white;
	top: 150px;
	left: 27px;
	position: absolute;
}

#B-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 50px;
	left: 122px;
	position: absolute;
}

#B-stem-t {
	width: 10px;
	height: 25px;
	background: white;
	top: 65px;
	left: 152px;
	transform: rotate(-45deg);
	position: absolute;
}

#B-stem-b {
	width: 10px;
	height: 25px;
	background: white;
	top: 110px;
	left: 152px;
	transform: rotate(-45deg);
	position: absolute;
}

#B-stem-c {
	width: 10px;
	height: 22px;
	background: white;
	top: 89px;
	left: 182px;
	transform: rotate(90deg);
	position: absolute;
}

#B-border-r {
	width: 10px;
	height: 340px;
	background: white;
	top: 40px;
	left: 197px;
	position: absolute;
}

#C-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 50px;
	left: 207px;
	position: absolute;
}

#C-stem-c {
	width: 10px;
	height: 50px;
	background: white;
	top: 75px;
	left: 239px;
	position: absolute;
}

#C-stem-r {
	width: 10px;
	height: 35px;
	background: white;
	top: 82px;
	left: 260px;
	transform: rotate(90deg);
	position: absolute;
}

#C-border-r {
	width: 10px;
	height: 450px;
	background: white;
	top: 40px;
	left: 282px;
	position: absolute;
}

#D-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 50px;
	left: 292px;
	position: absolute;
}

#D-stem-c {
	width: 10px;
	height: 35px;
	background: white;
	top: 82px;
	left: 324px;
	transform: rotate(-45deg);
	position: absolute;
}

#D-space-b {
	width: 0;
	height: 0;
	top: 130px;
	left: 347px;
	border-bottom: 21px solid white;
	border-left: 21px solid transparent;
	position: absolute;
}

#D-space-t {
	width: 0;
	height: 0;
	top: 50px;
	left: 347px;
	border-top: 21px solid white;
	border-left: 21px solid transparent;
	position: absolute;
}

#D-border-r {
	width: 10px;
	height: 560px;
	background: white;
	top: 40px;
	left: 367px;
	position: absolute;
}

#E-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 50px;
	left: 377px;
	position: absolute;
}

#E-stem-t {
	width: 10px;
	height: 27px;
	background: white;
	top: 69px;
	left: 435px;
	transform: rotate(90deg);
	position: absolute;
}

#E-stem-b {
	width: 10px;
	height: 27px;
	background: white;
	top: 104px;
	left: 435px;
	transform: rotate(90deg);
	position: absolute;
}

#E-border-r {
	width: 10px;
	height: 670px;
	background: white;
	top: 40px;
	left: 452px;
	position: absolute;
}

#F-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 50px;
	left: 462px;
	position: absolute;
}

#F-stem-t {
	width: 10px;
	height: 27px;
	background: white;
	top: 69px;
	left: 520px;
	transform: rotate(90deg);
	position: absolute;
}

#F-space-b {
	width: 27px;
	height: 35px;
	background: white;
	top: 117px;
	left: 512px;
	position: absolute;
}

#F-border-r {
	width: 10px;
	height: 670px;
	background: white;
	top: 40px;
	left: 537px;
	position: absolute;
}

#G-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 160px;
	left: 122px;
	position: absolute;
}

#G-stem-t {
	width: 10px;
	height: 30px;
	background: white;
	top: 180px;
	left: 155px;
	position: absolute;
}

#G-stem-r {
	width: 10px;
	height: 65px;
	background: white;
	top: 179px;
	left: 161px;
	transform: rotate(90deg);
	clip-path: polygon(0% 0%, 100% 0%, 100% 55px, 0% 100%);
	position: absolute;
}

#G-stem-slant {
	width: 10px;
	height: 44px;
	background: white;
	top: 197px;
	left: 148px;
	transform: rotate(-45deg);
	clip-path: polygon(0% 0%, 100% 10px, 100% 34px, 0% 100%);
	position: absolute;
}

#G-stem-b {
	width: 10px;
	height: 20px;
	background: white;
	top: 224px;
	left: 155px;
	position: absolute;
}

#G-border-b {
	width: 605px;
	height: 10px;
	background: white;
	top: 260px;
	left: 112px;
	position: absolute;
}

#H-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 160px;
  left: 207px;
	position: absolute;
}

#H-stem-t {
	width: 10px;
	height: 32px;
	background: white;
	top: 158px;
	left: 240px;
	position: absolute;
}

#H-stem-b {
	width: 10px;
	height: 32px;
	background: white;
	top: 230px;
	left: 240px;
	position: absolute;
}

#I-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 160px;
	left: 292px;
	position: absolute;
}

#I-stem-r {
	width: 10px;
	height: 27px;
	background: white;
	top: 196px;
	left: 351px;
	transform: rotate(90deg);
	position: absolute;
}

#I-stem-l {
	width: 10px;
	height: 27px;
	background: white;
	top: 196px;
	left: 298px;
	transform: rotate(90deg);
	position: absolute;
}

#J-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 160px;
	left: 377px;
	position: absolute;
}

#J-stem-t {
	width: 10px;
	height: 34px;
	background: white;
	top: 178px;
	left: 388px;
	transform: rotate(90deg);
	position: absolute;
}

#J-stem-c {
	width: 10px;
	height: 40px;
	background: white;
	top: 190px;
	left: 409px;
	position: absolute;
}

#K-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 160px;
	left: 462px;
	position: absolute;
}

#K-stem-t {
	width: 10px;
	height: 32px;
	background: white;
	top: 158px;
	left: 495px;
	position: absolute;
}

#K-stem-c {
	width: 10px;
	height: 22px;
	background: white;
	top: 199px;
	left: 522px;
	transform: rotate(90deg);
	position: absolute;
}

#K-stem-b {
	width: 10px;
	height: 32px;
	background: white;
	top: 230px;
	left: 495px;
	position: absolute;
}

#L-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 160px;
	left: 547px;
	position: absolute;
}

#L-space {
	width: 27px;
	height: 60px;
	background: white;
	top: 158px;
	left: 597px;
	position: absolute;
}

#L-border-r {
	width: 10px;
	height: 560px;
	background: white;
	top: 150px;
	left: 622px;
	position: absolute;
}

#M-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 270px;
	left: 207px;
	position: absolute;
}

#M-stem-l {
	width: 10px;
	height: 32px;
	background: white;
	top: 340px;
	left: 226px;
	position: absolute;
}

#M-stem-r {
	width: 10px;
	height: 32px;
	background: white;
	top: 340px;
	left: 254px;
	position: absolute;
}

#M-border-b {
	width: 605px;
	height: 10px;
	background: white;
	top: 370px;
	left: 197px;
	position: absolute;
}

#N-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 270px;
	left: 292px;
	position: absolute;
}

#N-stem-b {
	width: 10px;
	height: 32px;
	background: white;
	top: 340px;
	left: 311px;
	position: absolute;
}

#N-stem-t {
	width: 10px;
	height: 32px;
	background: white;
	top: 268px;
	left: 339px;
	position: absolute;
}

#O-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 270px;
	left: 377px;
	position: absolute;
}

#O-stem {
	width: 10px;
	height: 50px;
	background: white;
	top: 295px;
	left: 409px;
	position: absolute;
}

#P-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 270px;
	left: 462px;
	position: absolute;
}

#P-stem {
	width: 10px;
	height: 25px;
	background: white;
	top: 290px;
	left: 493px;
	transform: rotate(-45deg);
	position: absolute;
}

#P-space {
	width: 27px;
	height: 35px;
	background: white;
	top: 337px;
	left: 512px;
	position: absolute;
}

#Q-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 270px;
	left: 547px;
	position: absolute;
}

#Q-stem {
	width: 10px;
	height: 25px;
	background: white;
	top: 290px;
	left: 580px;
	transform: rotate(-45deg);
	position: absolute;
}

#Q-space {
	width: 27px;
	height: 35px;
	background: white;
	top: 337px;
	left: 545px;
	position: absolute;
}

#R-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 270px;
	left: 632px;
	position: absolute;
}

#R-stem-t {
	width: 10px;
	height: 25px;
	background: white;
	top: 285px;
	left: 660px;
	transform: rotate(-45deg);
	position: absolute;
}

#R-stem-b {
	width: 10px;
	height: 27px;
	background: white;
	top: 345px;
	left: 665px;
	position: absolute;
}

#R-stem-c {
	width: 10px;
	height: 22px;
	background: white;
	top: 310px;
	left: 695px;
	transform: rotate(90deg);
	position: absolute;
}

#R-border-r {
	width: 10px;
	height: 450px;
	background: white;
	top: 260px;
	left: 707px;
	position: absolute;
}

#S-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 380px;
	left: 292px;
	position: absolute;
}

#S-stem-t {
	width: 10px;
	height: 27px;
	background: white;
	top: 400px;
	left: 350px;
	transform: rotate(90deg);
	position: absolute;
}

#S-stem-b {
	width: 10px;
	height: 27px;
	background: white;
	top: 435px;
	left: 299px;
	transform: rotate(90deg);
	position: absolute;
}

#S-border-b {
	width: 605px;
	height: 10px;
	background: white;
	top: 480px;
	left: 282px;
	position: absolute;
}

#T-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 380px;
	left: 377px;
	position: absolute;
}

#T-space-l {
	width: 22px;
	height: 52px;
	background: white;
	top: 430px;
	left: 375px;
	position: absolute;
}

#T-space-r {
	width: 22px;
	height: 52px;
	background: white;
	top: 430px;
	left: 432px;
	position: absolute;
}

#U-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 380px;
	left: 462px;
	position: absolute;
}

#U-stem {
	width: 10px;
	height: 32px;
	background: white;
	top: 380px;
	left: 495px;
	position: absolute;
}

#U-space-l {
	width: 0;
	height: 0;
	top: 460px;
	left: 461px;
	border-bottom: 21px solid white;
	border-right: 21px solid transparent;
	position: absolute;
}

#U-space-r {
	width: 0;
	height: 0;
	top: 460px;
	left: 517px;
	border-bottom: 21px solid white;
	border-left: 21px solid transparent;
	position: absolute;
}

#V-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 380px;
	left: 547px;
	position: absolute;
}

#V-stem {
	width: 10px;
	height: 32px;
	background: white;
	top: 380px;
	left: 580px;
	position: absolute;
}

#V-space-l {
	width: 0;
	height: 0;
	top: 442px;
	left: 546px;
	border-bottom: 40px solid white;
	border-right: 40px solid transparent;
	position: absolute;
}

#V-space-r {
	width: 0;
	height: 0;
	top: 442px;
	left: 583px;
	border-bottom: 40px solid white;
	border-left: 40px solid transparent;
	position: absolute;
}

#W-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 380px;
	left: 632px;
	position: absolute;
}

#W-stem-l {
	width: 10px;
	height: 27px;
	background: white;
	top: 380px;
	left: 651px;
	position: absolute;
}

#W-stem-r {
	width: 10px;
	height: 27px;
	background: white;
	top: 380px;
	left: 679px;
	position: absolute;
}

#W-stem-b {
	width: 10px;
	height: 27px;
	background: white;
	top: 455px;
	left: 665px;
	position: absolute;
}

#X-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 380px;
	left: 717px;
	position: absolute;
}

#X-stem-t {
	width: 10px;
	height: 27px;
	background: white;
	top: 378px;
	left: 750px;
	position: absolute;
}

#X-stem-b {
	width: 10px;
	height: 27px;
	background: white;
	top: 455px;
	left: 750px;
	position: absolute;
}

#X-stem-l {
	width: 10px;
	height: 22px;
	background: white;
	top: 419px;
	left: 722px;
	transform: rotate(90deg);
	position: absolute;
}

#X-stem-r {
	width: 10px;
	height: 22px;
	background: white;
	top: 419px;
	left: 777px;
	transform: rotate(90deg);
	position: absolute;
}

#X-border-r {
	width: 10px;
	height: 340px;
	background: white;
	top: 370px;
	left: 792px;
	position: absolute;
}

#Y-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 490px;
	left: 377px;
	position: absolute;
}

#Y-stem {
	width: 10px;
	height: 32px;
	background: white;
	top: 488px;
	left: 410px;
	position: absolute;
}

#Y-space-l {
	width: 20px;
	height: 50px;
	top: 541px;
	left: 376px;
	background: white;
	clip-path: polygon(0% 0%, 100% 20px, 100% 100%, 0% 100%);
	position: absolute;
}

#Y-space-r {
	width: 20px;
	height: 50px;
	top: 541px;
	left: 433px;
	background: white;
	clip-path: polygon(0% 20px, 100% 0%, 100% 100%, 0% 100%);
	position: absolute;
}

#Y-border-b {
	width: 595px;
	height: 10px;
	background: white;
	top: 590px;
	left: 377px;
	position: absolute;
}

#Z-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 490px;
	left: 462px;
	position: absolute;
}

#Z-stem-l {
	width: 10px;
	height: 27px;
	background: white;
	top: 510px;
	left: 469px;
	transform: rotate(90deg);
	position: absolute;
}

#Z-stem-r {
	width: 10px;
	height: 27px;
	background: white;
	top: 545px;
	left: 523px;
	transform: rotate(90deg);
	position: absolute;
}

#N1-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 490px;
	left: 547px;
	position: absolute;
}

#N1-stem {
	width: 10px;
	height: 27px;
	background: white;
	top: 525px;
	left: 554px;
	transform: rotate(90deg);
	position: absolute;
}

#N1-space {
	width: 22px;
	height: 56px;
	background: white;
	top: 488px;
	left: 602px;
	position: absolute;
}

#N2-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 490px;
	left: 632px;
	position: absolute;
}

#N2-stem-l {
	width: 10px;
	height: 40px;
	background: white;
	top: 519px;
	left: 646px;
	transform: rotate(90deg);
	position: absolute;
}

#N2-stem-c {
	width: 10px;
	height: 25px;
	background: white;
	top: 519px;
	left: 665px;
	position: absolute;
}

#N2-stem-r {
	width: 10px;
	height: 27px;
	background: white;
	top: 546px;
	left: 690px;
	transform: rotate(90deg);
	position: absolute;
}

#N3-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 490px;
	left: 717px;
	position: absolute;
}

#N3-stem-t {
	width: 10px;
	height: 27px;
	background: white;
	top: 511px;
	left: 724px;
	transform: rotate(90deg);
	position: absolute;
}

#N3-stem-b {
	width: 10px;
	height: 27px;
	background: white;
	top: 546px;
	left: 724px;
	transform: rotate(90deg);
	position: absolute;
}

#N4-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 490px;
	left: 802px;
	position: absolute;
}

#N4-stem {
	width: 10px;
	height: 32px;
	background: white;
	top: 488px;
	left: 835px;
	position: absolute;
}

#N4-space {
	width: 27px;
	height: 35px;
	background: white;
	top: 557px;
	left: 800px;
	position: absolute;
}

#N4-border-r {
	width: 10px;
	height: 230px;
	background: white;
	top: 480px;
	left: 877px;
	position: absolute;
}

#N5-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 600px;
	left: 462px;
	position: absolute;
}

#N5-stem-l {
	width: 10px;
	height: 40px;
	background: white;
	top: 629px;
	left: 476px;
	transform: rotate(90deg);
	position: absolute;
}

#N5-stem-c {
	width: 10px;
	height: 25px;
	background: white;
	top: 644px;
	left: 495px;
	position: absolute;
}

#N5-stem-r {
	width: 10px;
	height: 27px;
	background: white;
	top: 615px;
	left: 520px;
	transform: rotate(90deg);
	position: absolute;
}

#N5-border-b {
	width: 510px;
	height: 10px;
	background: white;
	top: 700px;
	left: 462px;
	position: absolute;
}

#N6-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 600px;
	left: 547px;
	position: absolute;
}

#N6-stem-t {
	width: 10px;
	height: 22px;
	background: white;
	top: 618px;
	left: 580px;
	position: absolute;
}

#N6-stem-r {
	width: 10px;
	height: 40px;
	background: white;
	top: 615px;
	left: 599px;
	transform: rotate(90deg);
	position: absolute;
}

#N6-stem-b {
	width: 10px;
	height: 25px;
	background: white;
	top: 657px;
	left: 580px;
	transform: rotate(-45deg);
	position: absolute;
}

#N7-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 600px;
	left: 632px;
	position: absolute;
}

#N7-stem {
	width: 10px;
	height: 62px;
	background: white;
	top: 625px;
	left: 664px;
	position: absolute;
}

#N7-space {
	width: 43px;
	height: 62px;
	background: white;
	top: 640px;
	left: 631px;
	position: absolute;
}

#N8-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 600px;
	left: 717px;
	position: absolute;
}

#N8-stem-t {
	width: 10px;
	height: 25px;
	background: white;
	top: 615px;
	left: 750px;
	transform: rotate(-45deg);
	position: absolute;
}
#N8-stem-b {
	width: 10px;
	height: 25px;
	background: white;
	top: 660px;
	left: 750px;
	transform: rotate(-45deg);
	position: absolute;
}

#N9-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 600px;
	left: 802px;
	position: absolute;
}

#N9-stem-t {
	width: 10px;
	height: 25px;
	background: white;
	top: 615px;
	left: 835px;
	transform: rotate(-45deg);
	position: absolute;
}

#N9-stem-l {
	width: 10px;
	height: 40px;
	background: white;
	top: 645px;
	left: 816px;
	transform: rotate(90deg);
	position: absolute;
}

#N9-stem-b {
	width: 10px;
	height: 22px;
	background: white;
	top: 660px;
	left: 835px;
	position: absolute;
}

#N0-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 600px;
	left: 887px;
	position: absolute;
}

#N0-stem {
	width: 10px;
	height: 35px;
	background: white;
	top: 632px;
	left: 920px;
	transform: rotate(-45deg);
	position: absolute;
}

#N0-space-t {
	width: 0;
	height: 0;
	top: 599px;
	left: 942px;
	border-top: 21px solid white;
	border-left: 21px solid transparent;
	position: absolute;
}

#N0-space-b {
	width: 0;
	height: 0;
	top: 680px;
	left: 886px;
	border-bottom: 21px solid white;
	border-right: 21px solid transparent;
	position: absolute;
}

#N0-border-r {
	width: 10px;
	height: 120px;
	background: white;
	top: 590px;
	left: 962px;
	position: absolute;
}

#Qmk-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 600px;
	left: 37px;
	position: absolute;
}

#Qmk-space {
	width: 22px;
	height: 45px;
	background: white;
	top: 655px;
	left: 90px;
	position: absolute;
}

#Qmk-stem-t {
	width: 10px;
	height: 20px;
	background: white;
	top: 628px;
	left: 69px;

	position: absolute;
}

#Qmk-stem-l {
	width: 10px;
	height: 38px;
	background: white;
	top: 624px;
	left: 50px;
	transform: rotate(90deg);
	position: absolute;
}

#Qmk-stem-b {
	width: 10px;
	height: 79px;
	background: white;
	top: 635px;
	left: 70px;
	transform: rotate(90deg);
	position: absolute;
}

#Qmk-border-t {
	width: 180px;
	height: 10px;
	background: white;
	top: 590px;
	left: 27px;
	position: absolute;
}

#Qmk-border-b {
	width: 180px;
	height: 10px;
	background: white;
	top: 700px;
	left: 27px;
	position: absolute;
}

#Qmk-border-l {
	width: 10px;
	height: 120px;
	background: white;
	top: 590px;
	left: 27px;
	position: absolute;
}

#Qmk-border-r {
	width: 10px;
	height: 120px;
	background: white;
	top: 590px;
	left: 112px;
	position: absolute;
}


#Ept-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 600px;
	left: 122px;
	position: absolute;
}

#Ept-stem {
	width: 10px;
	height: 79px;
	background: white;
	top: 635px;
	left: 155px;
	transform: rotate(90deg);
	position: absolute;
}

#Ept-space {
	width: 22px;
	height: 69px;
	background: white;
	top: 631px;
	left: 176px;
	clip-path: polygon(0% 22px, 100% 0%, 100% 100%, 0% 100%);
	position: absolute;
}

#Ept-border-r {
	width: 10px;
	height: 120px;
	background: white;
	top: 590px;
	left: 197px;
	position: absolute;
}

.L2 {
	top: 800px;
	left: -500px;
	position: absolute;
}

.O2 {
	top: 690px;
	left: -245px;
	position: absolute;
}

.R2 {
	top: 690px;
	left: -415px;
	position: absolute;
}

.E2 {
	top: 910px;
	left: -75px;
	position: absolute;
}

.M2 {
	top: 690px;
	left: 180px;
	position: absolute;
}

.I2 {
	top: 800px;
	left: 180px;
	position: absolute;
}

.P2 {
	top: 690px;
	left: 95px;
	position: absolute;
}

.S2 {
	top: 580px;
	left: 350px;
	position: absolute;
}

.U2 {
	top: 580px;
	left: 265px;
	position: absolute;
}

.M2-2 {
	top: 690px;
	left: 605px;
	position: absolute;
}


.L3 {
	top: 920px;
	left: -500px;
	position: absolute;
	filter: invert(1);
}

.O3 {
	top: 810px;
	left: -245px;
	position: absolute;
	filter: invert(1);
}

.R3 {
	top: 810px;
	left: -415px;
	position: absolute;
	filter: invert(1);
}

.E3 {
	top: 1030px;
	left: -75px;
	position: absolute;
	filter: invert(1);
}

.M3 {
	top: 810px;
	left: 180px;
	position: absolute;
	filter: invert(1);
}

.I3 {
	top: 920px;
	left: 180px;
	position: absolute;
	filter: invert(1);
}

.P3 {
	top: 810px;
	left: 95px;
	position: absolute;
	filter: invert(1);
}

.S3 {
	top: 700px;
	left: 350px;
	position: absolute;
	filter: invert(1);
}

.U3 {
	top: 700px;
	left: 265px;
	position: absolute;
	filter: invert(1);
}

.M3-2 {
	top: 810px;
	left: 605px;
	position: absolute;
	filter: invert(1);
}


#L2-border-t {
	width: 855px;
	height: 10px;
	background: white;
	top: 1070px;
	left: 37px;
	position: absolute;
	filter: invert(1);
}

#L2-border-b {
	width: 855px;
	height: 10px;
	background: white;
	top: 1180px;
	left: 37px;
	position: absolute;
	filter: invert(1);
}

#L2-border-l {
	width: 10px;
	height: 120px;
	background: white;
	top: 1070px;
	left: 37px;
	position: absolute;
	filter: invert(1);
}

#L2-border-r {
	width: 10px;
	height: 120px;
	background: white;
	top: 1070px;
	left: 122px;
	position: absolute;
	filter: invert(1);
}

#O2-border-r {
	width: 10px;
	height: 120px;
	background: white;
	top: 1070px;
	left: 207px;
	position: absolute;
	filter: invert(1);
}

#R2-border-r {
	width: 10px;
	height: 120px;
	background: white;
	top: 1070px;
	left: 292px;
	position: absolute;
	filter: invert(1);
}

#E2-border-r {
	width: 10px;
	height: 120px;
	background: white;
	top: 1070px;
	left: 377px;
	position: absolute;
	filter: invert(1);
}

#M2-border-r {
	width: 10px;
	height: 120px;
	background: white;
	top: 1070px;
	left: 462px;
	position: absolute;
	filter: invert(1);
}

#I2-border-r {
	width: 10px;
	height: 120px;
	background: white;
	top: 1070px;
	left: 547px;
	position: absolute;
	filter: invert(1);
}

#P2-border-r {
	width: 10px;
	height: 120px;
	background: white;
	top: 1070px;
	left: 632px;
	position: absolute;
	filter: invert(1);
}

#S2-border-r {
	width: 10px;
	height: 120px;
	background: white;
	top: 1070px;
	left: 717px;
	position: absolute;
	filter: invert(1);
}

#U2-border-r {
	width: 10px;
	height: 120px;
	background: white;
	top: 1070px;
	left: 802px;
	position: absolute;
	filter: invert(1);
}

#M2-2-border-r {
	width: 10px;
	height: 120px;
	background: white;
	top: 1070px;
	left: 887px;
	position: absolute;
	filter: invert(1);
}


.L4 {
	top: 1040px;
	left: -500px;
	position: absolute;
	filter: invert(1);
}

.O4 {
	top: 940px;
	left: -245px;
	position: absolute;
	filter: invert(1);
}

.R4 {
	top: 940px;
	left: -415px;
	position: absolute;
	filter: invert(1);
}

.E4 {
	top: 1160px;
	left: -75px;
	position: absolute;
	filter: invert(1);
}

.M4 {
	top: 940px;
	left: 180px;
	position: absolute;
	filter: invert(1);
}

.I4 {
	top: 1050px;
	left: 180px;
	position: absolute;
	filter: invert(1);
}

.P4 {
	top: 940px;
	left: 95px;
	position: absolute;
	filter: invert(1);
}

.S4 {
	top: 830px;
	left: 350px;
	position: absolute;
	filter: invert(1);
}

.U4 {
	top: 830px;
	left: 265px;
	position: absolute;
	filter: invert(1);
}

.M4-2 {
	top: 940px;
	left: 605px;
	position: absolute;
	filter: invert(1);
}

.L5 {
	top: 1170px;
	left: -500px;
	position: absolute;
}

.O5 {
	top: 1070px;
	left: -245px;
	position: absolute;
}

.R5 {
	top: 1070px;
	left: -415px;
	position: absolute;
}

.E5 {
	top: 1290px;
	left: -75px;
	position: absolute;
}

.M5 {
	top: 1070px;
	left: 180px;
	position: absolute;
}

.I5 {
	top: 1180px;
	left: 180px;
	position: absolute;
}

.P5 {
	top: 1070px;
	left: 95px;
	position: absolute;
}

.S5 {
	top: 960px;
	left: 350px;
	position: absolute;
}

.U5 {
	top: 960px;
	left: 265px;
	position: absolute;
}

.M5-2 {
	top: 1070px;
	left: 605px;
	position: absolute;
}

#BOX5 {
	width: 860px;
	height: 113px;
	background: black;
	top: 1328px;
	left: 37px;
	position: absolute;
}


.stage3 {
	width: 100vw;
	height: 800px;
	margin: 100px auto;
	background: white;
	position: relative;
}

:active{
background-color:black;
Â Â filter: invert(100%);

}

#A-base {
	width: 75px;
	height: 100px;
	background: black;
	top: 50px;
	left: 37px;
	position: absolute;
}

#A-stem-b {
	width: 10px;
	height: 27px;
	background: white;
	top: 125px;
	left: 69.5px;
	position: absolute;
}

#A-stem-c {
	width: 10px;
	height: 25px;
	background: white;
	top: 80px;
	left: 69px;
	transform: rotate(-45deg);
	position: absolute;
}
